body {
    margin:0;
}

header {
    width:100%;
    background-color:grey;
}

nav {
    height:55px;
    display:flex;
    align-items: center;
    padding-left:30px;
}

ul {
    display:flex;
    flex-direction:row;
    gap:7px;
    margin:0;
    padding:15px;
}

li {
    list-style-type:none;
}

li a {
    text-decoration:none;
    font-size:18px;
}

.nav__image {
    display:flex;
    align-items:center;
}

.nav__icon {
    width:45px;
    height:45px;
    border-radius:50px;
    border:1px solid black;
}

.container {
    display:flex;
    justify-content:center;
    padding:400px;
}

.container__body {
    width:60%;
    border:5px dotted green;
    padding:200px;
}

.container__image {
    position:absolute;
    top: 280px;
    left: 670px;
}

.container__image1 {
    width:245px;
    height:245px;
    position:absolute;
    bottom:270px;
    right:650px;
}